In [1]:
#!conda update -n base -c defaults conda
#!conda install -c conda-forge folium=0.5.0 --yes
#!conda install -c conda-forge geopy --yes
#!conda install -c conda-forge geocoder --yes
#from bs4 import BeautifulSoup
#from sklearn.cluster import KMeans
#import numpy as np
#import re
#import folium
#import os
#import matplotlib.cm as cm
#import matplotlib.colors as colors
#import geocoder

In [1]:
from geopy.geocoders import Nominatim
import pandas as pd
import requests
import json

In [2]:
address = 'New York, NY'
geolocator = Nominatim(user_agent="city_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

print('The geograpical coordinates of {} are {}, {}.'.format(address, latitude, longitude))

The geograpical coordinates of New York, NY are 40.7127281, -74.0060152.

In [4]:
local_filepath = '..\\foursquare_credentials.txt'
f = open(local_filepath, "r")
contents = f.read()
credentials = json.loads(contents)
f.close()

CLIENT_ID = credentials['CLIENT_ID']
CLIENT_SECRET = credentials['CLIENT_SECRET']
VERSION = credentials['VERSION']

In [63]:
LIMIT = 1000
def getNearbyVenues(latitudes, longitudes, radius=500):
    
    venues_list=[]
    for lat, lng in zip(latitudes, longitudes):
        
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
         
        results = requests.get(url).json()["response"]["groups"][0]["items"]
        venues_list.append([(
            v['venue']['categories'][0]['name'],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = [ 
                  'Venue Category',
                  'Venue Latitude', 
                  'Venue Longitude']
    return(nearby_venues)

In [64]:
df = getNearbyVenues([latitude], [longitude])

In [65]:
df.head()

    Venue Category  Venue Latitude  Venue Longitude
0        Hotel Bar       40.711448       -74.006802
1            Hotel       40.711173       -74.006702
2  Laundry Service       40.711434       -74.006272
3             Park       40.712415       -74.006724
4     Dance Studio       40.713923       -74.005661

In [66]:
onehot = pd.get_dummies(df[['Venue Category']], prefix="", prefix_sep="")
fixed_columns = list(onehot.columns)#[onehot.columns[-1]] + list(onehot.columns[:-1])
onehot = onehot[fixed_columns]

In [67]:
onehot.head(3)

,American Restaurant,Antique Shop,Baby Store,Bakery,Bar,Bookstore,Boxing Gym,Breakfast Spot,Bubble Tea Shop,Building,...,Speakeasy,Sporting Goods Shop,Strip Club,Sushi Restaurant,Taco Place,Vegetarian / Vegan Restaurant,Wine Bar,Wine Shop,Women's Store,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
onehot.columns

Index(['American Restaurant', 'Antique Shop', 'Baby Store', 'Bakery', 'Bar',
       'Bookstore', 'Boxing Gym', 'Breakfast Spot', 'Bubble Tea Shop',
       'Building', 'Burger Joint', 'Burrito Place', 'Café', 'Cocktail Bar',
       'Coffee Shop', 'Comic Shop', 'Cosmetics Shop', 'Coworking Space',
       'Cuban Restaurant', 'Dance Studio', 'Discount Store',
       'Electronics Store', 'Event Space', 'Falafel Restaurant',
       'Fast Food Restaurant', 'French Restaurant', 'Furniture / Home Store',
       'Greek Restaurant', 'Gym', 'Gym / Fitness Center', 'Hotel', 'Hotel Bar',
       'Indian Restaurant', 'Italian Restaurant', 'Japanese Curry Restaurant',
       'Japanese Restaurant', 'Juice Bar', 'Laundry Service', 'Liquor Store',
       'Martial Arts Dojo', 'Middle Eastern Restaurant',
       'Molecular Gastronomy Restaurant', 'Monument / Landmark', 'Nail Salon',
       'Park', 'Pizza Place', 'Plaza', 'Restaurant', 'Sandwich Place',
       'Shopping Mall', 'Spa', 'Speakeasy', 'Sporting Goods Shop',
       'Strip Club', 'Sushi Restaurant', 'Taco Place',
       'Vegetarian / Vegan Restaurant', 'Wine Bar', 'Wine Shop',
       'Women's Store', 'Yoga Studio'],
      dtype='object')

In [59]:
file_path = 'C:\\Users\\gnz5\\Downloads\\chicago_crime.csv'
crime_df = pd.read_csv(file_path)

In [60]:
crime_df.dropna(inplace=True)
crime_df.reset_index(inplace=True, drop=True);

In [62]:
print(crime_df.shape[0])
crime_df.head()

254366

,DATE OF OCCURRENCE,PRIMARY DESCRIPTION,LOCATION DESCRIPTION,LATITUDE,LONGITUDE
0,6/24/2019 18:24,BATTERY,SIDEWALK,41.753506,-87.665947
1,12/5/2019 18:43,NARCOTICS,SIDEWALK,41.862559,-87.721771
2,6/24/2019 11:00,THEFT,STREET,41.992936,-87.700697
3,11/19/2019 19:20,THEFT,CTA BUS,41.778768,-87.683628
4,11/19/2019 0:10,BATTERY,APARTMENT,41.883109,-87.760218